<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.chromium.debug.ui.LaunchType$StandaloneV8">
<booleanAttribute key="add_network_console" value="false"/>
<stringAttribute key="breakpoint_startup_sync_direction" value="MERGE"/>
<stringAttribute key="debug_host" value="localhost"/>
<intAttribute key="debug_port" value="5858"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.chromium.debug.core.ChromiumSourceDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;true&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;project name=&amp;quot;BattleCityOnline&amp;quot; referencedProjects=&amp;quot;false&amp;quot;/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.project&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
<stringAttribute key="predefined_source_wrapperd_ids" value="77(org.chromium.debug.core.model.HardcodedSourceWrapProvider$NodeJsStandardEntry)80(org.chromium.debug.core.model.HardcodedSourceWrapProvider$NodeJsWithDefinedEntry)"/>
<stringAttribute key="source_lookup_mode" value="AUTO_DETECT"/>
</launchConfiguration>
